extends layout
block content
 h1= title
 - let Gelid = toShow._id
 - let Gel_Name = toShow.Gel_Name
 - let Gel_Company = toShow.Gel_Company
 - let Gel_Size = toShow.Gel_Size
 - let Gel_Rating = toShow.Gel_Rating
 div
 div.row
 div(class='GelAttr mr-3') Gel ID is:
 div #{Gelid}
 div.row
 div(class='GelAttr mr-3') Gel Name is:
 div #{Gel_Name}
 div.row
 div(class='GelAttr mr-3') Gel Company is:
 div #{Gel_Company}
 div.row
 div(class='GelAttr mr-3') Gel Size is:
 div #{Gel_Size}
 div(class='GelAttr mr-3') Gel Rating is:
 div #{Gel_Rating}